<amp-carousel  width="{{amp_layout.width}}" height="{{amp_layout.height}}" layout="{{amp_layout.layout}}"  type="slides">
	{{#data.images}}
	<div>
		<amp-img src="{{src}}" width="1" height="1" layout="fill" alt=""></amp-img>
	</div>
	  {{/data.images}}
</amp-carousel>
