<amp-date-countdown end-date="{{data.endDate}}" layout="flex-item">
  <template type="amp-mustache">
	<div class="countdown"><div class="countdown-section days"><span class="count curr">&#123&#123dd&#125;&#125;</span> <span class="unit">days</span></div><div class="countdown-section hours"><span class="count curr">&#123&#123hh&#125;&#125;</span> <span class="unit">hours</span></div><div class="countdown-section minutes"><span class="count curr">&#123&#123mm&#125;&#125;</span> <span class="unit">minutes</span></div><div class="countdown-section seconds"><span class="count curr">&#123&#123ss&#125;&#125;</span> <span class="unit">seconds</span></div></div>
  </template>
</amp-date-countdown>