<amp-carousel  width="{{amp_layout.width}}" height="{{amp_layout.height}}" layout="{{amp_layout.layout}}"  type="slides">
	<div class="slides">
		<div class="inner_slide">
		</div>
	</div>
	<div class="slides">
		<div class="inner_slide">
		
		</div>
	</div>
	<div class="slides">
		<div class="inner_slide">
		
		</div>
	</div>
</amp-carousel>
