<md-dialog rc-drag="md-toolbar" aria-label="">
	<form ng-cloak ng-submit="ok()" name="form">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{'formmodule.label_popup.title' | lang}} </h2>
		
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$dismiss()">
          <i class="fa fa-times" aria-label="Close dialog"></i>
        </md-button>
      </div>
    </md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<md-input-container class="md-block">
				<label>{{'formmodule.label_popup.entry_label' | lang}}</label>
				<input type="text" ng-model="data.text" required>
			</md-input-container>
			
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<span flex></span>
		 <md-button type="submit">
         {{('builder.ok')| lang }} 
      </md-button>
      <md-button ng-click="$dismiss()">
         {{('builder.close')| lang }} 
      </md-button>
    </md-dialog-actions>
  </form>
	</md-dialog>