<div class="nav-item" ng-class="{active:active}" ng-show="!hide">
<md-button ng-class="{disabled: disabled}" href="" ng-click="select()" ui-paneltab-item-heading-transclude><i class="{{headingIcon}}"></i><span>{{heading || label}}</span><span ng-if="changed">*</span></md-button>
</div>
