<md-dialog  rc-drag="md-toolbar" aria-label="Acellemail" flex="50">
	<form ng-submit="ok()" name="form" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Acellemail</h2>
		
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$dismiss()">
          <md-icon class="fa fa-times" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<div ng-show="!hasAccount">
				<md-button ng-click="addAccount()" class="md-raised md-secondary">{{'add_account' | lang}}</md-button>
			</div>
			<div ng-show="hasAccount">
				<md-input-container class="md-block">
					<label>List</label>
					<md-select required ng-model="data.list" ng-change="changeList()">
						<md-optgroup ng-repeat="account in list" label="{{account.name}}">
						<md-option ng-repeat="item in account.list" value="{{account.id}}-{{item.id}}">{{item.name}}</md-option>
						</md-optgroup>
					</md-select>
				</md-input-container>
			</div>
			<div ng-show="data.list.length" class="field-mappings">
				<h3>Fields Mapping</h3>
				<div layout="column">
					<div class="field-mapping-row" layout="row">
						<div flex="40">Acellemail Fields</div>
						<div flex="60">Form Fields</div>
					</div>
				</div>
				<div layout="column">
					<div class="field-mapping-row" layout="row" ng-repeat="(key,value) in mapping_fields" ng-if="key!='custom_fields' && value.type != 'default_value'" && value.name.length">
						<div flex="40">{{value.name}}</div>
						<div flex="60">
							<select class="form-control" ng-required ="value.required" ng-model="data.fields[key]">
								<option value=""></option>
								<option ng-repeat="field in fieldList" value="{{field.name}}">{{field.display_name}}</option>
							</select>
						</div>
					</div>
					<div class="field-mapping-row" layout="row" ng-repeat="(key,value) in mapping_fields.custom_fields">
						<div flex="40">{{value.name}}</div>
						<div flex="60">
							<select class="form-control" ng-required ="value.required" ng-model="data.fields.custom_fields[key]">
								<option value=""></option>
								<option ng-repeat="field in fieldList" value="{{field.name}}">{{field.display_name}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button ng-click="addAccount()" ng-show="hasAccount" class="md-raised md-secondary">{{'add_more_account' | lang}}</md-button>
		<span flex></span>
		<md-button type="submit" class="md-raised md-primary">{{'ok' | lang}}</md-button>
		<md-button ng-click="$dismiss()">{{'cancel' | lang}}</md-button>
    </md-dialog-actions>
  </form>
	</md-dialog>