<md-dialog rc-drag="md-toolbar" class="color-picker" aria-label="Color picker">
	 <md-toolbar>
      <div class="md-toolbar-tools">
        <h4>Picker</h4>
		
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$dismiss()">
          <i class="fa fa-times" aria-label="Close dialog"></i>
        </md-button>
      </div>
    </md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<div class="palette" ng-hide="">
				<div class="color_items"  layout="row" style="margin-bottom:10px;">
					<a flex="20" title="{{color.name}}" href="javascript:void(0)" class="color_item {{getColorName(color)}}" ng-click="changeColor(color)" ng-repeat="color in main_colors"  style="background-color: {{color.value}};">
					</a>
				</div>
				
			</div>
			
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<span flex></span>
		<md-button class="" ng-click="OK()">OK</md-button> 
	</md-dialog-actions>
</md-dialog>