<md-dialog rc-drag="md-toolbar" aria-label=" {{('builder.pagepopup.title')| lang }} ">
	<form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2> {{('builder.pagepopup.title')| lang }} </h2>
		
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$dismiss()">
          <i class="fa fa-times" aria-label="Close dialog"></i>
        </md-button>
      </div>
    </md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<md-list flex>	
				<md-list-item ng-repeat="item in page_list">
					<p ><a href="{{item.view_url}}" target="_blank">{{item.name}}</a></p>
					<md-button  ng-hide="item.id == currentPageId" href="{{item.edit_url}}" class="md-secondary" > {{('builder.pagepopup.switch')| lang }} </md-icon>
					
					<md-divider></md-divider>
				</md-list-item>
			</md-list>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<span flex></span>
      <md-button ng-click="$dismiss()">
         {{('builder.close')| lang }} 
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
