<md-dialog rc-drag="md-toolbar" aria-label=" {{('builder.pagepopup.history_title')| lang }} " flex="50">
	<form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2> {{('builder.pagepopup.history_title')| lang }} </h2>
		
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$dismiss()">
          <i class="fa fa-times" aria-label="Close dialog"></i>
        </md-button>
      </div>
    </md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<md-list flex>	
				<md-list-item ng-repeat="item in page_list">
					<p ><a href="{{item.view_url}}" target="_blank">{{converDate(item.name)}}</a></p>
					
					<md-button ng-click="revert(item)"> {{('builder.pagepopup.restore')| lang }} </md-button>
					<md-button href="{{item.view_url}}" target="_blank" class="md-secondary md-icon-button"><i class="fa fa-eye"/>&nbsp</md-button>
					<md-button ng-click="delete(item)" class="md-secondary md-icon-button" ><i class="fa fa-trash"/></md-button>
					<md-divider></md-divider>
				</md-list-item>
			</md-list>
			<p ng-if="!page_list.length">{{('builder.pagepopup.empty_history_message')| lang }}</p>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<span flex></span>
      <md-button ng-click="$dismiss()">
         {{('builder.close')| lang }} 
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
