<md-dialog rc-drag="md-toolbar" aria-label=" {{('builder.publishpopup.title')| lang }} " flex="40">
	<form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2> {{('builder.publishpopup.title')| lang }} </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$dismiss()">
          <i class="fa fa-times" aria-label="Close dialog"></i>
        </md-button>
      </div>
    </md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<md-list flex ng-if="site_domains.length">	
				<md-list-item ng-repeat="site_domain in site_domains">
					<p ><a href="{{site_domain.view_url}}" target="_blank">{{site_domain.view_url}}</a></p>
					<md-icon class="md-secondary fa fa-trash" ng-click="delete($index)" ></md-icon>
					<md-divider></md-divider>
				</md-list-item>
			</md-list>
			<div ng-if="!site_domains.length">
				 {{('builder.publishpopup.none_publish_yet')| lang }} 
			</div>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button class="md-raised md-secondary" ng-click="add()">
			 {{('builder.publishpopup.add')| lang }} 
		</md-button>
    <span flex></span>
     
      <md-button ng-click="$dismiss()">
         {{('builder.close')| lang }} 
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
