<md-dialog rc-drag="md-toolbar" aria-label=" {{('builder.section_screenshot_popup.title')| lang }} " class="md-code-popup">
	<form ng-cloak ng-submit="ok()">
		<md-toolbar>
			<div class="md-toolbar-tools">
			<h2> {{('builder.section_screenshot_popup.title')| lang }} </h2>

			<span flex></span>
			<md-button class="md-icon-button" ng-click="$dismiss()">
			  <i class="fa fa-times" aria-label="Close dialog"></i>
			</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			
			<div class="md-dialog-content">
				<img style="margin: auto; max-width: 100%;" alt="" src="{{path}}"/>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button class="md-button md-raised md-secondary" file-upload-button upload-options="upload_options"> {{('builder.section_screenshot_popup.upload')| lang }} </md-button>
		</md-dialog-actions>
	</form>
</md-dialog>