/*----------------------------------------------------------------*/
/*  Layouts
/*----------------------------------------------------------------*/

// Global
html,
body {
    height: 100%;
    min-height: 100%;
	overflow:hidden;
}

#content {
    position: relative;
}

// Boxed Layout
body {

    &.boxed {
        background: #B0BEC5 url('/assets/images/backgrounds/header-bg.png');
        background-size: cover;

        #main {
            overflow: hidden !important;
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
        }
    }
}

// Page Layouts
$header-height: 200px;
$card-toolbar-height: 64px;
$card-header-height: $header-height - $card-toolbar-height;
$header-height-sm: 160px;
$card-header-height-sm: $header-height-sm - $card-toolbar-height;
#main, #main-layout{
	height:100%;
	min-height:100%;
}
.content-wrapper {
    position: relative;
	height:100%;
	overflow:auto;
	background: rgb(245,245,245);
	#top-header-bg{
		position: absolute;
		top: 0;
		width: 100%;
		height: 200px;
		z-index: 1;
		background: rgb(3,155,229);
	}
	>ui-view {
		padding:20px;
		position:relative;
		display:block;
		z-index:2;
	
		.box {
			padding: 24px;
			margin-bottom:30px;
			background: #FFFFFF;
			box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
			&.none-padding{
				padding:0;
			}
			.box-title{
				font-size:1.25rem;
			}
		}
	}
   
    md-backdrop {
        z-index: 50;
    }

    // Global header styles
    .content-header {
		display:flex;
		padding:24px 0;
		color:white;
        .breadcrumb {
			display:none;
            margin-bottom: 24px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.54);

            md-icon {
                margin: 0;
            }

            .separator {
                margin: 0 8px;
            }
        }

        h1 {
            font-size: 24px;
			line-height:42px;
			margin:0;
        }
    }

}