.md-social-button{
	color:#fff;
	&.fa-facebook{
		background-color:#4267b2;
	}
	&.fa-twitter{
		background-color:#4AB3F4;
	}
	&.fa-google{
		background-color:#dd4b39;
	}
	&:hover{
		background-color:inherit;
	}
}
.widget{
	flex: 1 1 100%;
	&:last-child{
	}
	box-sizing: border-box;
	.card{
		margin-bottom:20px;
		h3{
			font-size:16px;
			color:rgb(158, 158, 158);
			text-transform: uppercase;
		}
		.icon{
			font-size: 50px;
			padding:20px;
			margin-right: 20px;
			background-color:#039be5;
			color:white;
			
		}
	}
}