
$primary-color:         #0392cf;
$secondary-color:          #868e96;

$success-color:         #7bc043;
$info-color:            #428bca;
$warning-color:         #f37736;
$danger-color:          #ee4035;
