<div class="form-control" contenteditable="t	67
rue" style="min-height:48px;">
	<div class="ql-editor" ng-bind-html="content"></div>

	</div>
<div id="dynamic-text-input-quill-toolbar" class="quill-toolbar" style="border:none;">
	<button class="ql-dynamic" ng-show="features.dynamic">{{'dynamic_text' | lang}}</button>
	<button class="ql-dynamicheadline" ng-show="features.dynamicheadline" ng-show="dynamic_text_enabled">{{'animated_text' | lang}}</button>
	<button class="ql-animatenumber" ng-show="features.animatenumber" ng-show="dynamic_text_enabled">{{'animated_number' | lang }}</button>
</div>