<ang-accordion editor-tabs="enabled_tabs" close-icon-class="fa fa-angle-up" open-icon-class="fa fa-angle-down">
<md-toolbar class="widget-setting-header">
<div class="md-toolbar-tools">
	{{display_name}}
	<h2 flex md-truncate></h2>
	<md-icon ng-click="delete()" md-font-icon="fa fa-trash"></md-icon>

</div>

</md-toolbar>

	{{tabs}}
</ang-accordion>