<md-button class="md-raised md-icon-button md-secondary" ng-click="$moduleInstance.align_inline('left', 'auto')">
	<md-tooltip md-direction="bottom">Align left</md-tooltip>
	<i class="fa fa-align-left"></i>
</md-button>
<md-button class="md-raised md-icon-button md-secondary" ng-click="$moduleInstance.align_inline('right', 'auto')">
	<md-tooltip md-direction="bottom">Align right</md-tooltip>
	<i class="fa fa-align-right"></i>
</md-button>
<md-button class="md-raised md-icon-button md-secondary" ng-click="$moduleInstance.align_inline('center', 'auto')">
	<md-tooltip md-direction="bottom">Align horizontal center</md-tooltip>
	<i class="fa fa-align-center"></i>
</md-button>
<md-button class="md-raised md-icon-button md-secondary" ng-click="$moduleInstance.align_inline('auto','top')">
	<md-tooltip md-direction="bottom">Align top</md-tooltip>
	<i class="fa fa-align-right" style="transform:rotate(-90deg);"></i>
</md-button>
<md-button class="md-raised md-icon-button md-secondary" ng-click="$moduleInstance.align_inline('auto', 'center')">
	<md-tooltip md-direction="bottom">Align vertical center</md-tooltip>
	<i class="fa fa-align-center"style="transform:rotate(-90deg);"></i>
</md-button>
<md-button class="md-raised md-icon-button md-secondary" ng-click="$moduleInstance.align_inline('auto','bottom')">
	<md-tooltip md-direction="bottom">Align bottom</md-tooltip>
	<i class="fa fa-align-right" style="transform:rotate(90deg);"></i>
</md-button>

<md-button class="md-raised md-icon-button md-secondary" ng-click="$moduleInstance.align_inline('justify', 'auto')">
	<md-tooltip md-direction="bottom">Justify</md-tooltip>
	<i class="fa fa-align-justify"></i>
</md-button>
<md-button class="md-raised md-icon-button md-secondary" ng-click="$moduleInstance.align_inline('auto','justify')">
	<md-tooltip md-direction="bottom">Justify bottom</md-tooltip>
	<i class="fa fa-align-justify" style="transform:rotate(90deg);"></i>
</md-button>