<md-tabs md-selected="data.selected" md-dynamic-height>
	<md-tab label="{{'widget' | lang}}" ng-disabled="data.disabled">
		<div id="module-edit-container">
		</div>
	</md-tab>
	<md-tab label="{{'popup' | lang}}" ng-disabled="data.disabled_popup"  md-tab-class ="hide-when-disabled">
		<div id="popup-edit-container">
		</div>
	</md-tab>
	<md-tab label="{{'page' | lang}}">
		<div id="page-edit-container">
		</div>
	</md-tab>
	
</md-tabs>