<li class="md-nav-item" ng-show="!hide">
<md-button ng-class="{'md-active md-primary': active, disabled: disabled}" href="#/{{url}}"  ui-tab-heading-transclude><i class="{{headingIcon}}"></i><span>{{heading}}</span><span ng-if="changed">*</span></md-button>
</li>
