<div class="ui-tabset">
	<div class="md-nav-bar">
		<nav role="navigation"  ng-show="!hide">
		  <ul class="_md-nav-bar-list" ng-transclude role="listbox" tabindex="0" ng-focus="ctrl.onFocus()" ng-keydown="ctrl.onKeydown($event)" aria-label="{{ctrl.navBarAriaLabel}}">
		  </ul>
		</nav>
		<md-nav-ink-bar ng-hide="ctrl.mdNoInkBar"></md-nav-ink-bar>
	  </div>
	<div class="tab-content" layout-padding>
	<div ui-tab-pane class="tab-pane" ng-repeat="tab in tabs" ng-class="{active: tab.active}" ui-tab-content-transclude="tab" ui-tab-dynamic-content-transclude="tab">
	</div>
	</div>
</div>
