<collapsible-item item-title="{{'border' | lang}}" initially-open="true">
	<div class="form-group">
		<widget-style-border selected-widget="$moduleInstance"/>
	</div>
	
	<div class="form-group">
		<widget-style-label selected-widget="$moduleInstance" el-style="border-radius">{{'corner' | lang }}</widget-style-label>
		<widget-style-corner selected-widget="$moduleInstance"/>
	</div>
	<div class="form-group">
		<widget-style-label selected-widget="$moduleInstance" el-style="box-shadow">{{'shadowtab.title' | lang }}</widget-style-label>
		<widget-style-box-shadow el-style="box-shadow" selected-widget="$moduleInstance"/>
	</div>
</collapsible-item>