<collapsible-item item-title="{{'buttonmodule.label_title' | lang}}" initially-open="true">
	<div class="form-group">
		<label>{{'buttonmodule.entry_text' | lang}}</label>
		<div ng-model="data.text" ng-change="changeButtonText()" dynamic-text-input dynamic-text="true"></div>
	</div>
	
</collapsible-item>
