<collapsible-item item-title="{{'countdownmodule.section_style' | lang}}" initially-open="true">
	<div class="form-group row mt-3">
		<widget-style-label children="section" selected-widget="$moduleInstance" el-style="color" class="col-sm-4 col-form-label">{{'color' | lang}}</widget-style-label>
		<div class="col-sm-8">
			<widget-style-color children="section" selected-widget="$moduleInstance" el-style="color"/>
		</div>
	</div>
	<div class="form-group row mt-3">
		<widget-style-label children="section" selected-widget="$moduleInstance" el-style="background-color" class="col-sm-4 col-form-label">{{'background' | lang}}</widget-style-label>
		<div class="col-sm-8">
			<widget-style-color children="section" selected-widget="$moduleInstance" el-style="background-color"/>
		</div>
	</div>
	<div class="form-group">
		<widget-style-border children="section" selected-widget="$moduleInstance"/>
	</div>
	<div class="form-group">
		<widget-style-label children="section" selected-widget="$moduleInstance" el-style="padding">{{'padding' | lang}}</widget-style-label>
		<widget-style-margin children="section" selected-widget="$moduleInstance" el-style="padding"/>
	</div>
	<div class="form-group">
		<widget-style-label children="section" selected-widget="$moduleInstance">{{'corner' | lang}}</widget-style-label>
		<widget-style-corner children="section" selected-widget="$moduleInstance"/>
	</div>
	
	<div class="row mb-3">
		<div class="col-md-3">
			<widget-style-label selected-widget="$moduleInstance" children="section" el-style="font-weight">{{'textmodule.text_toolbar.entry_font_weight' | lang }}</widget-style-label>
		</div>
		<div class="col-md-9">
			<widget-style-select children="section" selected-widget="$moduleInstance" el-style="font-weight"/>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-3">
			<widget-style-label children="section" el-style="font-size" selected-widget="$moduleInstance">{{'textmodule.text_toolbar.entry_font_size' | lang }}</widget-style-label>
		</div>
		<div class="col-md-9">
			<widget-style-number children="section" el-style="font-size" selected-widget="$moduleInstance"/>
		</div>
	</div>
	
</collapsible-item>
<collapsible-item item-title="{{'countdownmodule.number_style' | lang}}" initially-open="true">
	<div class="form-group row mt-3">
		<widget-style-label children="number" selected-widget="$moduleInstance" el-style="color" class="col-sm-4 col-form-label">{{'color' | lang}}</widget-style-label>
		<div class="col-sm-8">
			<widget-style-color children="number" selected-widget="$moduleInstance" el-style="color"/>
		</div>
	</div>
	<div class="form-group row mt-3">
		<widget-style-label children="number" selected-widget="$moduleInstance" el-style="background-color" class="col-sm-4 col-form-label">{{'background' | lang}}</widget-style-label>
		<div class="col-sm-8">
			<widget-style-color children="number" selected-widget="$moduleInstance" el-style="background-color"/>
		</div>
	</div>
	<div class="form-group">
		<widget-style-label children="number" selected-widget="$moduleInstance">{{'border' | lang}}</widget-style-label>
		<widget-style-border children="number" selected-widget="$moduleInstance"/>
	</div>
	<div class="form-group">
		<widget-style-label children="number" selected-widget="$moduleInstance" el-style="padding">{{'padding' | lang}}</widget-style-label>
		<widget-style-margin children="number" selected-widget="$moduleInstance" el-style="padding"/>
	</div>
	<div class="form-group">
		<widget-style-label children="number" selected-widget="$moduleInstance">{{'corner' | lang}}</widget-style-label>
		<widget-style-corner children="number" selected-widget="$moduleInstance"/>
	</div>
	<div class="row mb-3">
		<div class="col-md-3">
			<widget-style-label children="number" el-style="font-size" selected-widget="$moduleInstance">{{'textmodule.text_toolbar.entry_font_size' | lang }}</widget-style-label>
		</div>
		<div class="col-md-9">
			<widget-style-number children="number" el-style="font-size" selected-widget="$moduleInstance"/>
		</div>
	</div>
</collapsible-item>

<collapsible-item item-title="{{'countdownmodule.unit_style' | lang}}" initially-open="true">
	<div class="form-group row mt-3">
		<widget-style-label children="unit" selected-widget="$moduleInstance" el-style="color" class="col-sm-4 col-form-label">{{'color' | lang}}</widget-style-label>
		<div class="col-sm-8">
			<widget-style-color children="unit" selected-widget="$moduleInstance" el-style="color"/>
		</div>
	</div>
	<div class="form-group row mt-3">
		<widget-style-label children="unit" selected-widget="$moduleInstance" el-style="background-color" class="col-sm-4 col-form-label">{{'background' | lang}}</widget-style-label>
		<div class="col-sm-8">
			<widget-style-color children="unit" selected-widget="$moduleInstance" el-style="background-color"/>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-3">
			<widget-style-label children="unit" el-style="font-size" selected-widget="$moduleInstance">{{'textmodule.text_toolbar.entry_font_size' | lang }}</widget-style-label>
		</div>
		<div class="col-md-9">
			<widget-style-number children="unit" el-style="font-size" selected-widget="$moduleInstance"/>
		</div>
	</div>
</collapsible-item>
