

<md-button class="md-raised md-secondary" ng-click="openEditMode()" ng-show="!edit_mode">
	{{'global_block_module.edit_btn' | lang}}
</md-button>
<md-button class="md-raised md-secondary" ng-click="unlink()" ng-show="!edit_mode">
	{{'global_block_module.unlink' | lang}}
</md-button>