<collapsible-item item-title="{{'formmodule.input_autocompletes.title' | lang}}" initially-open="true" ng-show="field_type=='text'">
	
	<div class="form-group">
		<label>{{'formmodule.input_autocompletes.values' | lang}}</label>
		<textarea ng-model="data.autocompletes_values" class="form-control" ng-change="changeData(false)"></textarea>
		<p>{{'formmodule.input_autocompletes.entry_values_description' | lang}}</p>
	</div>
	
	
	
</collapsible-item>
