<collapsible-item item-title="{{'listmodule.title' | lang}}" initially-open="true">
	
	<div class="row form-group">
		<md-button ng-click="changeSource()" class="md-raised">Change source</md-button>
	</div>
</collapsible-item>
