<collapsible-item item-title="{{'margin' | lang}}" initially-open="true">
	<div class="form-group">
		<widget-style-label selected-widget="$moduleInstance" el-style="margin">{{'margin' | lang }}</widget-style-label>
		<widget-style-margin selected-widget="$moduleInstance" el-style="margin"/>
		
	</div>
	<div class="form-group">
		<div>
			
		</div>
		<widget-style-label selected-widget="$moduleInstance" el-style="padding">{{'padding' | lang }}</widget-style-label>
		<widget-style-margin selected-widget="$moduleInstance" el-style="padding"/>
	</div>
</collapsible-item>
