<collapsible-item item-title="Settings" initially-open="true">
	<md-list class="" flex>
		<md-list-item ng-click="openSettingPage('seo')">
			<p>{{'SEO' | lang}}</p>
		</md-list-item>
		
		<md-list-item ng-click="openSettingPage('analytics')">
			<p>{{'analytics' | lang}}</p>
		</md-list-item>
		<md-list-item ng-click="openSettingPage('custom_css')">
			<p>{{'custom_css' | lang}}</p>
		</md-list-item>
		<md-list-item ng-click="openSettingPage('custom_html')">
			<p>{{'custom_html' | lang}}</p>
		</md-list-item>
	</md-list>
</collapsible-item>