<collapsible-item item-title="{{'svgmodule.title' | lang}}" initially-open="true">
	<div class="form-group">
		<label>{{'svgmodule.source' | lang}}</label>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<button class="btn btn-outline-secondary" ng-click="selectFile()">{{'imagemodule.browse' | lang}}</button>
			</div>
			<input type="text" class="form-control" ng-model="data.src" disabled="disabled">
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-md-3">
			<widget-style-label selected-widget="$moduleInstance" el-style="color">{{'svgmodule.color' | lang }}</widget-style-label>
		</div>
		<div class="col-md-9">
		<widget-style-color selected-widget="$moduleInstance" el-style="color"/>
		</div>
	</div>
	
</collapsible-item>